<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#00a682"> <!-- Cambia el color a lo que prefieras -->
    <title>CONTROL</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" href="IcoLogo.ico" type="image/x-icon">
    <style>
        .mb-custom {
            margin-bottom: 50%; /* Ajusta este valor según sea necesario */
        }
        .btn-round {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-success {
            background-color: #00a682be; /* Color del contorno del botón */
        }
        .btn-info {
            background-color: #255e5b;
            border-color: rgba(147, 255, 237, 0.5);
            border-width: 4px; /* Aumenta el tamaño del borde */
            border-style: solid; /* Define el estilo del borde */
        }
    </style>
</head>
<body>    
    <div class="container mt-2 mb-custom">
        <div class="p-2 d-flex justify-content-center align-items-between" style="height: 70px;">
          <img src="portada.png" class="img-fluid" alt="CARGANDO..." width="150" height="150">
          <img src="Contra.png" class="img-fluid" alt="CARGANDO..." >
        </div> 

        <div id="app">

            <div class="input-group mt-4 mb-5">
                <span class="input-group-text custom-border" id="inputGroup-sizing-default" style="width: 70px; height: 80px; border: none; border-bottom: 2px solid #696565; border-top: 2px solid #696565; background-color: #ffffff00;">Fecha:</span>
                <input type="text" class="form-control custom-border" placeholder="00/0/0000" v-model="Today" v-on:keyup.enter="filtrarPorFecha" style="border: none; border-bottom: 2px solid #696565; border-top: 2px solid #696565; font-size: 20px;">
                <button class="btn btn-outline-success custom-border" type="button" @click="filtrarPorFecha" style="width: 100px; height: 80px; border: none; border-bottom: 2px solid #696565; border-top: 2px solid #696565;">Buscar</button>
            </div>

            <table class="table">
                <thead>
                  <tr class="table-warning">
                    <th scope="col">Fecha</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">TOTAL</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr  v-for="dato in datosFiltrados">
                    <th scope="row">{{ dato.fecha }}</th>
                    <td>{{ dato.nombre }}</td>
                    <td>{{ dato.cantidad }}</td>
                    <td>{{ dato.total }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">                  
                        </div>
                    </td>
                    <tr class="table-group-divider">
                        <td scope="row" colspan="2" class="fw-bold fs-4">TOTAL DE VENTA:</td>
                        <td colspan="2" class="text-danger fw-bold fs-4">${{ sumaTotal }}</td>
                    </tr>
                  </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                  <tr class="table-success">
                    <th scope="col">1000</th>
                    <th scope="col">500</th>
                    <th scope="col">200</th>
                    <th scope="col">100</th>
                    <th scope="col">50</th>
                    <th scope="col">20</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="mil" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="quinientos" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="doscientos" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="cien" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="cincuenta" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="veinte" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                  </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                  <tr class="table-success">
                    <th scope="col">10</th>
                    <th scope="col">5</th>
                    <th scope="col">2</th>
                    <th scope="col">1</th>
                    <th scope="col">0.5</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="diez" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="cinco" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="dos" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="uno" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                    <td><input type="number" @input="calcularTotalEnCorte" v-model="cincuentaCentavos" class="form-control c-border" min="0" style="background-color: rgba(170, 163, 163, 0.267);"></td>
                  </tr>
                  <tr class="table-group-divider">
                    <td scope="row" colspan="4" class="fw-bold fs-4">TOTAL EN CORTE:</td>
                    <td class="text-danger fw-bold fs-4">${{ totalEnCorte }}</td>
                  </tr>
                  <tr class="table-group-divider">
                    <td scope="row" colspan="4" class="fw-bold fs-4">Utilidad:</td>
                    <td class="text-danger fw-bold fs-4">${{ sumaUtilidad }}</td>
                  </tr>
                  <tr class="table-group-divider">
                    <td scope="row" colspan="4" class="fw-bold fs-4">Faltante:</td>
                    <td class="text-danger fw-bold fs-4">${{ calcularFaltante() }}</td>
                  </tr>
                  <tr class="table-group-divider">
                    <td scope="row" colspan="4" class="fw-bold fs-4">Sobrante:</td>
                    <td class="text-danger fw-bold fs-4">${{ calcularSobrante() }}</td>
                  </tr>
                </tbody>
            </table>

            <button class="btn btn-success rounded-circle shadow" @click="share" style="position: fixed; bottom: 90px; right: 20px; width: 80px; height: 80px; display: flex; align-items: center; justify-content: center;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40"><path d="M1.513 1.96a1.374 1.374 0 0 1 1.499-.21l19.335 9.215a1.147 1.147 0 0 1 0 2.07L3.012 22.25a1.374 1.374 0 0 1-1.947-1.46L2.49 12 1.065 3.21a1.375 1.375 0 0 1 .448-1.25Zm2.375 10.79-1.304 8.042L21.031 12 2.584 3.208l1.304 8.042h7.362a.75.75 0 0 1 0 1.5Z" fill="currentColor"></path></svg>
            </button>

            <!-- Barra inferior fija con botones -->
            <div class="fixed-bottom p-2 d-flex justify-content-center align-items-center" style="height: 65px;">
              <div class="container d-flex justify-content-evenly">
                  <a href="index.html" class="btn btn-dark btn-round">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M11.03 2.59a1.501 1.501 0 0 1 1.94 0l7.5 6.363a1.5 1.5 0 0 1 .53 1.144V19.5a1.5 1.5 0 0 1-1.5 1.5h-5.75a.75.75 0 0 1-.75-.75V14h-2v6.25a.75.75 0 0 1-.75.75H4.5A1.5 1.5 0 0 1 3 19.5v-9.403c0-.44.194-.859.53-1.144ZM12 3.734l-7.5 6.363V19.5h5v-6.25a.75.75 0 0 1 .75-.75h3.5a.75.75 0 0 1 .75.75v6.25h5v-9.403Z" fill="currentColor"></path></svg>
                  </a>
                  <button type="button" class="btn btn-info btn-round">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M17.28 9.28a.75.75 0 0 0-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l6.5-6.5Z" fill="white"></path><path d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1ZM2.5 12a9.5 9.5 0 0 0 9.5 9.5 9.5 9.5 0 0 0 9.5-9.5A9.5 9.5 0 0 0 12 2.5 9.5 9.5 0 0 0 2.5 12Z" fill="white"></path></svg>
                  </button>        
                  <a href="inventory.html" class="btn btn-dark btn-round">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M3.604 3.089A.75.75 0 0 1 4 3.75V8.5h.75a.75.75 0 0 1 0 1.5h-3a.75.75 0 1 1 0-1.5h.75V5.151l-.334.223a.75.75 0 0 1-.832-1.248l1.5-1a.75.75 0 0 1 .77-.037ZM8.75 5.5a.75.75 0 0 0 0 1.5h11.5a.75.75 0 0 0 0-1.5H8.75Zm0 6a.75.75 0 0 0 0 1.5h11.5a.75.75 0 0 0 0-1.5H8.75Zm0 6a.75.75 0 0 0 0 1.5h11.5a.75.75 0 0 0 0-1.5H8.75ZM5.5 15.75c0-.704-.271-1.286-.72-1.686a2.302 2.302 0 0 0-1.53-.564c-.535 0-1.094.178-1.53.565-.449.399-.72.982-.72 1.685a.75.75 0 0 0 1.5 0c0-.296.104-.464.217-.564A.805.805 0 0 1 3.25 15c.215 0 .406.072.533.185.113.101.217.268.217.565 0 .332-.069.48-.21.657-.092.113-.216.24-.403.419l-.147.14c-.152.144-.33.313-.52.504l-1.5 1.5a.75.75 0 0 0-.22.53v.25c0 .414.336.75.75.75H5A.75.75 0 0 0 5 19H3.31l.47-.47c.176-.176.333-.324.48-.465l.165-.156a5.98 5.98 0 0 0 .536-.566c.358-.447.539-.925.539-1.593Z" fill="currentColor"></path></svg>
                  </a>
                  <a href="points.html" class="btn btn-dark btn-round">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M12 .25a.75.75 0 0 1 .673.418l3.058 6.197 6.839.994a.75.75 0 0 1 .415 1.279l-4.948 4.823 1.168 6.811a.751.751 0 0 1-1.088.791L12 18.347l-6.117 3.216a.75.75 0 0 1-1.088-.79l1.168-6.812-4.948-4.823a.75.75 0 0 1 .416-1.28l6.838-.993L11.328.668A.75.75 0 0 1 12 .25Zm0 2.445L9.44 7.882a.75.75 0 0 1-.565.41l-5.725.832 4.143 4.038a.748.748 0 0 1 .215.664l-.978 5.702 5.121-2.692a.75.75 0 0 1 .698 0l5.12 2.692-.977-5.702a.748.748 0 0 1 .215-.664l4.143-4.038-5.725-.831a.75.75 0 0 1-.565-.41L12 2.694Z" fill="currentColor"></path></svg>
                  </a>
                  <a href="cuenta.html" class="btn btn-dark btn-round">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path d="M9.002 2.5a.75.75 0 0 1 .691.464l6.302 15.305 2.56-6.301a.75.75 0 0 1 .695-.468h4a.75.75 0 0 1 0 1.5h-3.495l-3.06 7.532a.75.75 0 0 1-1.389.004L8.997 5.21l-3.054 7.329A.75.75 0 0 1 5.25 13H.75a.75.75 0 0 1 0-1.5h4l3.558-8.538a.75.75 0 0 1 .694-.462Z" fill="currentColor"></path></svg>
                  </a>
              </div>
            </div>  
        </div>
    </div>   

      

    <!-- Para el control del sitio web con VUE.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>        
</body>
</html>
